.logo{
    padding: 30px 0;
}
.logo a{
    text-decoration: none;
}
.name{
    font-weight: 700;
    margin-left: 15px;
    font-family: 'SolaimanLipi', sans-serif;
}
@media (max-width: 768px) {
    .logo{
        padding: 10px 0;
    }
  }