.contactInstitute {
  width: 100%;
  display: flex;
}
.contact {
  width: 48%;
  margin-right: 4%;
}
.institute {
  width: 48%;
}
@media (max-width: 768px) {
  .contactInstitute {
    display: flex;
    flex-direction: column;
  }
  .contact,
  .institute {
    width: 100%;
  }
}
.inputLabel {
  font-size: 18px;
  margin-bottom: 2px;
  font-weight: 600;
}
.inputField {
  padding: 10px 15px;
}
.inputField:hover,
.inputField:focus {
  box-shadow: none;
  outline: none;
}

.submit {
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 30px;
}
@media (max-width: 768px) {
  .contactInstitute {
    display: flex;
    flex-direction: column;
  }
  .contact,
  .institute{
    width: 100%;
  }
}